In [1]:
from ast import literal_eval

import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/real-estate.csv')
print(df.shape)
df.head()

(246, 7)

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PropertyName        246 non-null    object
 1   PropertySubName     246 non-null    object
 2   NearbyLocations     246 non-null    object
 3   LocationAdvantages  246 non-null    object
 4   Link                246 non-null    object
 5   PriceDetails        246 non-null    object
 6   TopFacilities       246 non-null    object
dtypes: object(7)
memory usage: 13.6+ KB

In [4]:
for_literal_eval = ['NearbyLocations', 'LocationAdvantages', 'PriceDetails', 'TopFacilities']

for col in for_literal_eval:
    df[col] = df[col].apply(literal_eval)

### Link

In [5]:
df['Link'] = df['Link'].str.replace('https://www.99acres.com/', '', regex=False)
df['Link'][0]

'smartworld-one-dxp-sector-113-gurgaon-npxid-r400415'

### Locations

In [6]:
df['NearbyLocations'].tolist()[:2]

[['Bajghera Road',
  'Palam Vihar Halt',
  'DPSG Palam Vihar',
  'Park Hospital',
  'Gurgaon Railway Station'],
 ['DPSG Palam Vihar Gurugram',
  'The NorthCap University',
  'Park Hospital, Palam Vihar',
  'Pacific D21 Mall',
  'Palam Vihar Halt Railway Station']]

In [7]:
df['LocationAdvantages'].tolist()[:2]

[{'Bajghera Road': '800 Meter',
  'Palam Vihar Halt': '2.5 KM',
  'DPSG Palam Vihar': '3.1 KM',
  'Park Hospital': '3.1 KM',
  'Gurgaon Railway Station': '4.9 KM',
  'The NorthCap University': '5.4 KM',
  'Dwarka Expy': '1.2 KM',
  'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM',
  'Dwarka Sector 21, Metro Station': '7.2 KM',
  'Pacific D21 Mall': '7.4 KM',
  'Indira Gandhi International Airport': '14.7 KM',
  'Hamoni Golf Camp': '6.2 KM',
  'Fun N Food Waterpark': '8.8 KM',
  'Accenture DDC5': '9 KM'},
 {'DPSG Palam Vihar Gurugram': '1.4 Km',
  'The NorthCap University': '4.4 Km',
  'Park Hospital, Palam Vihar': '1.4 Km',
  'Pacific D21 Mall': '8.2 Km',
  'Palam Vihar Halt Railway Station': '1.2 Km',
  'Dwarka Sector 21 Metro Station': '8.1 Km',
  'Dwarka Expressway': '450 m',
  'Fun N Food Water Park': '8.1 Km',
  'Indira Gandhi International Airport': '14.1 Km',
  'Tau DeviLal Sports Complex': '11.2 Km',
  'Hamoni Golf Camp': '5 Km',
  'Hyatt Place': '6.1 Km',
  'Altrade Business Centre': '11.2 Km'}]

As you can see that `LocationAdvantages` has more nearby locations than `NearbyLocations` column that's why I am going to replace the values of `NearbyLocation` to keys of `LocationAdvantages` column.

In [8]:
df['NearbyLocations'] = df['LocationAdvantages'].apply(lambda x: list(x.keys()))

In [9]:
# Experimenting:

# nearby_loc = set([j for i in df['NearbyLocations'].to_list() for j in i])
# loc_advantages = set([j for i in df['LocationAdvantages'].explode().tolist() for j in i])

# len(nearby_loc), len(loc_advantages), len(nearby_loc & loc_advantages)

In [10]:
df['LocationAdvantages'].explode().value_counts()[:15]

LocationAdvantages
Indira Gandhi International Airport    87
Indira Gandhi Intl Airport             70
Dwarka Expressway                      53
Park Hospital                          32
SkyJumper Trampoline Park              32
Garhi Harsaru Junction                 32
Gurgaon Railway Station                31
Gurugram University                    29
Sushant University                     28
IGI Airport                            26
The NorthCap University                25
Sector 55-56 Metro Station             22
DLF Golf and Country Club              20
DPG Institute of Technology            19
Sapphire 83 Mall                       19
Name: count, dtype: int64

In [11]:
# Find top 10 most frequent feature
# top_locations = df['NearbyLocations'].explode().value_counts()[:15].index.tolist()
top_locations = df['LocationAdvantages'].explode().value_counts()[:15].index.tolist()
top_locations

['Indira Gandhi International Airport',
 'Indira Gandhi Intl Airport',
 'Dwarka Expressway',
 'Park Hospital',
 'SkyJumper Trampoline Park',
 'Garhi Harsaru Junction',
 'Gurgaon Railway Station',
 'Gurugram University',
 'Sushant University',
 'IGI Airport',
 'The NorthCap University',
 'Sector 55-56 Metro Station',
 'DLF Golf and Country Club',
 'DPG Institute of Technology',
 'Sapphire 83 Mall']

I am using `LocationAdvantages` because it has more `value_counts` than `NearbyLocations` column in the dataset.

In [12]:
for items in top_locations:
    df[items] = df['LocationAdvantages'].apply(lambda x: 1 if items in x else 0)

In [13]:
df['n_LocationAdvantages'] = df['LocationAdvantages'].apply(len)

We can also group similar palace like **hospitals, parks, schools, highways, airports** and make features with them which is more useful and cover more rows and it is more verbose too.

### Categorize Location

In [14]:
def categorize(value, category_map):
    for category_dict in category_map:
        for category, keywords in category_dict.items():
            if any(keyword.lower() in value.lower() for keyword in keywords):
                return category
    return 'Other'

In [15]:
all_nearby_locations = df['LocationAdvantages'].explode().unique().tolist()
len(all_nearby_locations)

1070

In [16]:
locations_category_map = [
    {'Airport': ['airport', 'airstrip', 'aviation']},
    {'Railway Station': ['railway', 'junction', 'metro', 'mero', 'halt', 'station']},
    {'Roadway': ['expressway', 'highway', 'road', 'nh', 'rd', 'hwy', 'expy']},
    {'Hospital': ['hospital', 'medical', 'Healthcare', 'Medicity', 'Pharmacy', 'clinic', 'doctor', 'health']},
    {'Education': ['school', 'university', 'institute', 'college', 'academy']},
    {'Fun': ['park', 'club', 'sports', 'sport', 'stadium', 'golf', 'Tennis', 'cricket']},
    {'Shop': ['mall', 'theatre', 'cinema', 'food', 'shop', 'market', 'store', 'plaza', 'bazaar', 'retail', 'grocery', 'chowk']},
    {'Hotel': ['hotel', 'inn', 'resort', 'lodge', 'Restaurant']}
]

#### Categorized Locations DataFrame

In [17]:
# Create a DataFrame with categorized locations
categorized_locations = []
for items in all_nearby_locations:
    category = categorize(items, locations_category_map)
    categorized_locations.append({
        'Location': items,
        'Category': category
    })

In [18]:
cat_loc_df = pd.DataFrame(categorized_locations)
cat_loc_df.head()

                  Location         Category
0            Bajghera Road          Roadway
1         Palam Vihar Halt  Railway Station
2         DPSG Palam Vihar            Other
3            Park Hospital         Hospital
4  Gurgaon Railway Station  Railway Station

In [19]:
cat_loc_df['Category'].value_counts()

Category
Other              269
Education          221
Roadway            152
Hospital           119
Shop               106
Fun                 94
Railway Station     66
Hotel               33
Airport             10
Name: count, dtype: int64

#### Add locations category as columns to Dataset

In [20]:
def perform_feature_extraction(
    df: DataFrame,
    column_containing_locations: str,
    category_map: list[dict[str, list[str]]],
) -> DataFrame:
    # Create new columns for each category
    new_cols = []
    for category_dict in category_map:
        for category in category_dict.keys():
            df[category] = 0
            new_cols.append(category)

    # Iterate through each row and update category counts
    for index, row in df.iterrows():
        location_counts = {category: 0 for category in new_cols}

        for location in row[column_containing_locations]:
            category = categorize(location, category_map)
            if category != 'Other':
                location_counts[category] += 1

        df.loc[index, new_cols] = pd.Series(location_counts) # type: ignore

    return df

In [21]:
df = perform_feature_extraction(df, 'NearbyLocations', locations_category_map)
df.shape

(246, 31)

Now we need to remove those columns which are created above as they are most frequent location comes in the dataset.

In [22]:
df.drop(columns=top_locations, inplace=True)
df.shape

(246, 16)

### TopFacilities

In [23]:
top_facilities = df['TopFacilities'].explode().unique().tolist()
len(top_facilities)

110

In [24]:
# Extract top 15 TopFacilities

# top_facilities = df['TopFacilities'].explode().value_counts()[:25].index.tolist()
# for facility in top_facilities:
#     df[facility] = df['TopFacilities'].apply(lambda x: 1 if facility in x else 0)

In [25]:
# Generated by ChatGPT
facilities_category_map = [
    {'Recreation and Sports': ['Jogging Track', 'Gymnasium', 'Cricket Pitch', 'Yoga/Meditation Area', 'Football', 'Golf Course', 'Steam Room', 'Terrace Garden', 'Water Softener Plant', 'Foosball', 'Sauna', 'Manicured Garden', 'Air Hockey', 'Squash Court', 'Lawn Tennis Court', 'Table Tennis', 'Basketball Court', 'Jacuzzi', 'Skating Rink', 'Aerobics Centre', 'Indoor Games', 'Mini Theatre', 'Amphitheatre', 'Volley Ball Court', 'Bowling Alley', 'Multipurpose Court', 'Beach Volley Ball Court', 'Infinity Pool', 'Billiards']},
    {'Leisure and Entertainment': ['Lounge', 'Salon', 'Fountain', 'Shopping Centre', 'Restaurant', 'Cigar Lounge', 'Food Court', 'Theatre', 'Gazebo', 'Club House', 'Banquet Hall', 'Party Lawn', 'Barbecue', 'Card Room', 'Cafeteria', 'Sun Deck', 'Video Door Security', 'Business Lounge', 'Library', 'ATM', 'Spa', 'Infinity Pool']},
    {'Utilities and Services': ['24/7 Water Supply', 'Garbage Disposal', 'Milk Booth', 'Concierge Service', 'Rain Water Harvesting', 'Bus Shelter', 'Community Hall', 'Wi-Fi Connectivity', 'Automated Car Wash', 'Car Parking', 'Grocery Shop', '24/7 Power Backup', '24x7 Security', 'Visitors Parking', 'Internal Street Lights', 'Senior Citizen Sitout', 'Security Cabin', 'Property Staff', 'Conference room', 'Car wash area', 'RO System', 'Solar Water Heating', 'Creche/Day care', 'Landscape Garden', 'Gated Community', 'Maintenance Staff', 'Pergola', 'Doctor on Call', 'High Speed Elevators', 'Lift(s)', 'Laundry']},
    {'Health and Wellness': ['Park', 'Medical Centre', 'Solar Lighting']},
    {'Safety and Security': ['Fire Fighting Systems', 'CCTV Camera Security', 'Security Cabin', 'Video Door Security', 'Gated Community']},
]

In [26]:
df = perform_feature_extraction(df, 'TopFacilities', facilities_category_map)
df.shape

(246, 21)

## PriceDeatails

In [27]:
df['PriceDetails'].explode().value_counts()

PriceDetails
3 BHK    186
4 BHK    144
2 BHK    121
5 BHK     50
Land      48
1 BHK     18
6 BHK      4
1 RK       3
Name: count, dtype: int64

In [28]:
# Extract most frequent BHKs
for value in ['3 BHK', '4 BHK', '2 BHK', '5 BHK', 'Land']:
    df[value] = df['PriceDetails'].apply(lambda x: 1 if value in x.keys() else 0)

## Price Deatalis DataFrame

In [29]:
price_details = list(df['PriceDetails'].to_dict().values())

In [30]:
def normalize_price_details(price_details_list: list[dict], links: list[str]):
    flat_details = []
    for link, price_details in zip(links, price_details_list):
        for bhk, details in price_details.items():
            flat_details.append({
                'Link': link,
                'BHK': bhk,
                'Area_Type': details['area_type'],
                'Area': details['area'],
                'Price_Range': details['price-range']
            })

    df = pd.DataFrame(flat_details)
    df = df[['Link', 'BHK', 'Area_Type', 'Area', 'Price_Range']]
    return df

In [31]:
price_df = normalize_price_details(price_details, df['Link'].tolist())
price_df.head()

,Link,BHK,Area_Type,Area,Price_Range
0,smartworld-one-dxp-sector-113-gurgaon-npxid-r4...,2 BHK,Carpet Area,"1,370 sq.ft.",₹ 2 - 2.4 Cr
1,smartworld-one-dxp-sector-113-gurgaon-npxid-r4...,3 BHK,Carpet Area,"1,850 - 2,050 sq.ft.",₹ 2.25 - 3.59 Cr
2,smartworld-one-dxp-sector-113-gurgaon-npxid-r4...,4 BHK,Carpet Area,"2,600 sq.ft.",₹ 3.24 - 4.56 Cr
3,m3m-crown-sector-111-gurgaon-npxid-r404068,3 BHK,Super Built-up Area,"1,605 - 2,170 sq.ft.",₹ 2.2 - 3.03 Cr
4,m3m-crown-sector-111-gurgaon-npxid-r404068,4 BHK,Super Built-up Area,"2,248 - 2,670 sq.ft.",₹ 3.08 - 3.73 Cr

### Cleaning

#### Price_Range

In [32]:
price_df['Price_Range'] = price_df['Price_Range'].str.replace(r'L|Cr|₹', '', regex=True).str.strip().str.split(' - ')

In [33]:
def clean_price_range(x):
    if 'Price on Request' == x[0]:
        return np.nan

    try:
        if len(x) == 1:
            return float(x[0])

        lower, upper = float(x[0]), float(x[1])
        return round((lower + upper) / 2, 2)
    except:
        # After applying this function check wheter any value is string or not
        # If so then handel it explicitly
        return str(x)

In [34]:
price_df['Price_Range'][price_df['Price_Range'].apply(len) == 1]

29                 [1.67]
47     [Price on Request]
82                 [4.46]
91     [Price on Request]
92     [Price on Request]
              ...
567                   [1]
569    [Price on Request]
570    [Price on Request]
571    [Price on Request]
572    [Price on Request]
Name: Price_Range, Length: 199, dtype: object

In [35]:
price_df['Price_Range'] = price_df['Price_Range'].apply(clean_price_range)

#### Area

In [36]:
price_df['Area'] = price_df['Area'].str.replace(',|sq.ft.', '', regex=True).str.strip().str.split(' - ')

In [37]:
def clean_area(x):
    try:
        if len(x) == 1:
            return float(x[0])

        lower, upper = float(x[0]), float(x[1])
        return round((lower + upper) / 2, 2)
    except:
        # After applying this function check wheter any value is string or not
        # If so then handel it explicitly
        return str(x)

In [38]:
price_df['Area'] = price_df['Area'].apply(clean_area)

#### Area_Type

In [39]:
price_df['Area_Type'].value_counts()

Area_Type
Super Built-up Area    366
Carpet Area            126
Plot Area               48
Built-up Area           34
Name: count, dtype: int64

### BHK

In [40]:
def extract_bhk(x: dict[str, str]) -> int:
    rv = ''.join(x.keys()).replace(' ', '')
    rv = rv.replace('BHK', '').replace('Land', '0').replace('1RK', '')
    rv = rv.strip()

    return int(''.join(sorted(rv)))

In [41]:
df['BHK'] = df['PriceDetails'].apply(extract_bhk)
df['BHK'].value_counts()

BHK
234      46
23       40
34       38
0        30
345      21
2345     12
4        11
3        11
45        6
123       6
12        5
1234      4
2         4
35        3
456       3
12345     2
235       2
3456      1
1         1
Name: count, dtype: int64

## PropertySubName

In [42]:
df['PropertySubName'].tolist()[:20]

['2, 3, 4 BHK Apartment in Sector 113, Gurgaon',
 '3, 4 BHK Apartment in Sector 111, Gurgaon',
 'Land, 3, 4 BHK Independent Floor in Sector 63, Gurgaon',
 '2, 3, 4 BHK Apartment in Sector 108, Gurgaon',
 '2, 3 BHK Independent Floor in Sector 93 Gurgaon',
 '3, 4, 5 BHK Apartment in Sector 76, Gurgaon',
 '3, 4 BHK Apartment in Sector 79, Gurgaon',
 '3, 4, 5 BHK Apartment in Sector 106, Gurgaon',
 '2, 3 BHK Independent Floor in Sector 92, Gurgaon',
 '2, 3 BHK Apartment in Sector 62, Gurgaon',
 '2, 3 BHK Independent Floor in Sector 79, Gurgaon',
 '4 BHK Apartment in Sector 63 Gurgaon',
 '2, 3 BHK Apartment in Sector 79 Gurgaon',
 '2, 3 BHK Independent Floor in Sector 81, Gurgaon',
 '4 BHK Independent Floor in Sector 84, Gurgaon',
 '3, 4, 5 BHK Apartment in Sector 59, Gurgaon',
 '2, 3, 4 BHK Apartment in Sector 79, Gurgaon',
 '2, 3 BHK Independent Floor in Gwal Pahari, Gurgaon',
 '3 BHK Apartment in Sector 76, Gurgaon',
 '3, 4 BHK Apartment in Sector 65, Gurgaon']

In [43]:
df['PropertyType'] = df['PropertySubName'].str.extract(r'BHK (.*?) in')

In [44]:
df['PropertyLocation'] = df['PropertySubName'].str.extract(r'in (.+)')

### General Step

In [45]:
print(df.shape)
df.head()

(246, 29)

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,n_LocationAdvantages,Airport,Railway Station,...,Health and Wellness,Safety and Security,3 BHK,4 BHK,2 BHK,5 BHK,Land,BHK,PropertyType,PropertyLocation
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","[Bajghera Road, Palam Vihar Halt, DPSG Palam V...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",smartworld-one-dxp-sector-113-gurgaon-npxid-r4...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete...",14,1,3,...,0,0,1,1,1,0,0,234,Apartment,"Sector 113, Gurgaon"
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","[DPSG Palam Vihar Gurugram, The NorthCap Unive...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",m3m-crown-sector-111-gurgaon-npxid-r404068,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden...",13,1,2,...,0,0,1,1,0,0,0,34,Apartment,"Sector 111, Gurgaon"
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","[AIPL Business Club Sector 62, Heritage Xperie...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",adani-brahma-samsara-vilasa-sector-63-gurgaon-...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr...",13,1,1,...,0,0,1,1,0,0,1,34,Independent Floor,"Sector 63, Gurgaon"
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","[The Shikshiyan School, WTC Plaza, Luxus Harit...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",sobha-city-sector-108-gurgaon-npxid-r256111,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce...",13,1,0,...,0,0,1,1,1,0,0,234,Apartment,"Sector 108, Gurgaon"
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","[Pranavananda Int. School, DLF Site central of...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",signature-global-city-93-sector-93-gurgaon-npx...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi...",11,1,1,...,1,0,1,0,1,0,0,23,Independent Floor,Sector 93 Gurgaon

In [46]:
df.drop(columns=['PropertySubName', 'NearbyLocations', 'LocationAdvantages', 'PriceDetails', 'TopFacilities'], inplace=True)

In [47]:
print(df.shape)
df.head()

(246, 24)

,PropertyName,Link,n_LocationAdvantages,Airport,Railway Station,Roadway,Hospital,Education,Fun,Shop,...,Health and Wellness,Safety and Security,3 BHK,4 BHK,2 BHK,5 BHK,Land,BHK,PropertyType,PropertyLocation
0,Smartworld One DXP,smartworld-one-dxp-sector-113-gurgaon-npxid-r4...,14,1,3,2,1,1,2,1,...,0,0,1,1,1,0,0,234,Apartment,"Sector 113, Gurgaon"
1,M3M Crown,m3m-crown-sector-111-gurgaon-npxid-r404068,13,1,2,1,1,1,3,1,...,0,0,1,1,0,0,0,34,Apartment,"Sector 111, Gurgaon"
2,Adani Brahma Samsara Vilasa,adani-brahma-samsara-vilasa-sector-63-gurgaon-...,13,1,1,4,1,1,3,1,...,0,0,1,1,0,0,1,34,Independent Floor,"Sector 63, Gurgaon"
3,Sobha City,sobha-city-sector-108-gurgaon-npxid-r256111,13,1,0,1,1,2,3,1,...,0,0,1,1,1,0,0,234,Apartment,"Sector 108, Gurgaon"
4,Signature Global City 93,signature-global-city-93-sector-93-gurgaon-npx...,11,1,1,1,1,2,1,1,...,1,0,1,0,1,0,0,23,Independent Floor,Sector 93 Gurgaon

In [48]:
df.isnull().sum()

PropertyName                  0
Link                          0
n_LocationAdvantages          0
Airport                       0
Railway Station               0
Roadway                       0
Hospital                      0
Education                     0
Fun                           0
Shop                          0
Hotel                         0
Recreation and Sports         0
Leisure and Entertainment     0
Utilities and Services        0
Health and Wellness           0
Safety and Security           0
3 BHK                         0
4 BHK                         0
2 BHK                         0
5 BHK                         0
Land                          0
BHK                           0
PropertyType                 30
PropertyLocation              0
dtype: int64

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PropertyName               246 non-null    object
 1   Link                       246 non-null    object
 2   n_LocationAdvantages       246 non-null    int64
 3   Airport                    246 non-null    int64
 4   Railway Station            246 non-null    int64
 5   Roadway                    246 non-null    int64
 6   Hospital                   246 non-null    int64
 7   Education                  246 non-null    int64
 8   Fun                        246 non-null    int64
 9   Shop                       246 non-null    int64
 10  Hotel                      246 non-null    int64
 11  Recreation and Sports      246 non-null    int64
 12  Leisure and Entertainment  246 non-null    int64
 13  Utilities and Services     246 non-null    int64
 14  Health and Wellness        246 non-null    int64
 15  Safety and Security        246 non-null    int64
 16  3 BHK                      246 non-null    int64
 17  4 BHK                      246 non-null    int64
 18  2 BHK                      246 non-null    int64
 19  5 BHK                      246 non-null    int64
 20  Land                       246 non-null    int64
 21  BHK                        246 non-null    int64
 22  PropertyType               216 non-null    object
 23  PropertyLocation           246 non-null    object
dtypes: int64(20), object(4)
memory usage: 46.2+ KB